html, body {
    overflow: hidden; /* This will prevent scrolling */
  }
  
    .bgimg {
      background-image: url('../../../Images/studnettemplate.png');
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* This will prevent scrolling */
    }

    .logo {
      display: inline;
      width: 270px;
      margin-left: 5px;
      margin-top: 10px;
  }
  
  .logo-min {
      display: none;
      width: 73px;
      margin-left: 5px;
      margin-top: 10px;
  }
  
  
  .login {
      margin: 0px 8px;
  }
  
  .navbar {
      margin: auto;
      width: 100%;
      max-width: 1600px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  mat-toolbar {
      background-color: #ffffff;
      height: 58px;
  }
  
  
  @media only screen and (max-width: 575px) {
      .logo {
          display: none;
      }
  
      .logo-min {
          display: inline;
      }
  }