<div class="bgimg">

  <p>
    <mat-toolbar>
      <div class="navbar">
          <a routerLink="">
            this is logo
              <!-- <img routerLink="/" class="logo" src="./assets/windbnb.png" alt="WindBnb">
              <img routerLink="/" class="logo-min" src="./assets/windbnb3.png" alt="WindBnb"> -->
          </a>
          <!-- <span *ngIf = "!isLoggedIn()">
              <button class="login" routerLink="/login" style="background-color: rgb(165, 165, 165);" mat-flat-button color="primary">Login</button>
              <button class="login" routerLink="/register" mat-flat-button color="primary">Register</button>
          </span>
          -->
          <a routerLink="">
            Dashboard
            <!-- <img routerLink="/" class="logo" src="./assets/windbnb.png" alt="WindBnb">
              <img routerLink="/" class="logo-min" src="./assets/windbnb3.png" alt="WindBnb"> -->
          </a>
          <a routerLink="">
            epilogi ma8hmaton
              <!-- <img routerLink="/" class="logo" src="./assets/windbnb.png" alt="WindBnb">
              <img routerLink="/" class="logo-min" src="./assets/windbnb3.png" alt="WindBnb"> -->
          </a>
          <a routerLink="">
              help
              <!-- <img routerLink="/" class="logo" src="./assets/windbnb.png" alt="WindBnb">
              <img routerLink="/" class="logo-min" src="./assets/windbnb3.png" alt="WindBnb"> -->
          </a>

          <span>
                here is name and photo 
              <!-- <app-user-info [user]="this.user" (onLogout)="logout()"></app-user-info> -->
          </span> 
      </div>
  </mat-toolbar>
<div>
    <router-outlet></router-outlet>
</div>

</div>